#calculator{
    border: 1px solid rgb(162, 222, 162);
    border-radius: 5px;
    width: 200px;
    background-color: rgb(80, 103, 104);
}
#display{
    margin: 10px;
    width: 85%;
    font-size: 25px;
}
.button_container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.button{
    width: 45px;
    height:45px ;
    margin:3px;
}